
.chate_container{
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
  
}

.box_chating_1{
    width: 450px !important;
    height: 100%;
    background: rgb(255, 255, 255);
    border-right: 1px solid rgba(165, 165, 165, 0.226);
    padding: 25px 20px;
    position: relative;
  

}



.box_2Db{
    width: 100%;
    display: flex;
}

.box_chating_2{
    width: 100%;
    height: 100%;
    background: #F9FAFC;
    position: relative;
}
.box_chating_3{
    width: 24rem;
    height: 100%;
    background: rgb(255, 255, 255);
    border-left: 1px solid rgba(165, 165, 165, 0.226);
  

}

.des_right{
    z-index: 3838;
}

.heading_box_cha{
    width: 100%;
    background: #F4F5F8;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    border-bottom: 1px solid rgba(165, 165, 165, 0.151);
   
}

.box_cat_c h4{
    font-size: 16px;
    color: #4B5155;
    font-weight: 500;
    margin: 0px;

}

.btn-caht{
    padding: 8px 10px;
    border: 1px solid #4530aee5;
    background: transparent;
    color: #4530AE;
    font-size: 14px;
    border-radius: 6px;
}

.btn-caht i{
    margin-right: 10px;
}

.ching_input_box{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
  
    width: 100%;
    
    padding: 20px;  
  

}

.box_inptu{
    width: 100%;
    height: 50px;
    position: relative;
}

.box_inptu input{
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    border: 1px solid rgba(165, 165, 165, 0.247);
    padding: 8px 20px;
    font-size: 14px;
}

.icoN_bx{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

}

.icoN_bx i{
    font-size: 18px;
    color: rgb(177, 177, 177);
    margin-right: 8px;
}

.icoN_bx button{
    border: none;
    background: #4530AE;
  
    width: 35px;
    height: 35px;
    border-radius: 12px;
    color: #fff !important;

}
.icoN_bx button i{
    margin: 0px;
    color: rgb(243, 243, 243) !important;
}

.box_cha_show{
    width: 100%;
    height: 79%;
    padding-bottom: 100px;
    overflow-y: auto;
    padding-top: 25px;
}
.box_cha_show::-webkit-scrollbar{
    width: 6px;
}

.box_cha_show::-webkit-scrollbar-thumb{
    background: #DBE5ED!important;
    border-radius: 10px;
    margin-right: 5px;
}
.chate_peopLe{
    display: flex;
}


.chate_peopLe img{
    width: 42px;
    height: 42px;
    object-fit: cover;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 50%;
}

.che_hedint{
    display: inline-block;
   padding: 8px 15px;
   background: #fff;
   border-radius: 8px;
   border-bottom-left-radius: 0px !important;
   margin-bottom: 10px;

}

.che_hedint p{
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    color:#7B8793;
}

.chet_box h4{
    font-size: 13px;
    font-weight: 400;
    color:rgb(173, 173, 173);
}

.chate_peopLe2{
    flex-direction: row-reverse;
}

.che_hedint2{
 background: #4530AE !important;
 border-radius: 8px !important;
 border-bottom-right-radius: 0px !important;
 border-top-right-radius: 0px !important;
 
}



.chet_box2:last-of-type .che_hedint2{
    border-top-right-radius: 0px !important; 
    border-bottom-right-radius: 8px !important;
   
}

.chet_box2:first-child .che_hedint2{
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 8px !important;
   
}

.che_hedint2 p{
    color: #fff !important;
}

.chet_box2{
    width: fit-content !important;
    margin-left: auto !important;
}



.box_ch2 .che_hedint{

    border-radius: 8px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    
   }
   
   
   
   .box_ch2:last-of-type .che_hedint{
       border-top-left-radius: 0px !important; 
       border-bottom-left-radius: 8px !important;
      
   }

   
   .box_ch2:first-child .che_hedint{
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 0px !important;
    /* border-bottom-left-radius: 8px !important; */
   
}

   .chate_peopLe2 h4{
       text-align: end;
   }

   .chate_peopLe{
       margin-bottom: 15px;
       width: 90%;
   }

   .chate_peopLe2{
       margin-left: auto !important;
   }


   .box_top_chat_b{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .btn_box-xds button{
       border: none;
       background: transparent;
       color: #333;
       font-size: 15px;
       font-weight: 500;
       margin-right: 15px;
   }

   .btn_box_plus{
       width: 30px;
       height: 30px;
       border-radius: 4px;
       border: none;
       background: #F8FAFC;
       color: #666;
   }

   .active_b{
       border-bottom: 3px solid #4530AE !important;
   }

   .text_search_box{
       width: 100%;
       height: 40px;
       margin-top: 8px;
       margin-bottom: 10px;
       position: relative;
   }

   .text_search_box input{
       width: 100%;
       height: 100%;
       border-radius: 6px;
       font-size: 14px;
       padding: 4px 15px;
       border: 1px solid rgba(211, 211, 211, 0.712);
       background: #F9FAFC;
   }

   .text_search_box i{
       position: absolute;
       top: 50%;
       right: 10px;
       transform: translateY(-50%);
       color: #AFBBC6;
   }

   .per_box_x{
       width: 100%;
       height: auto;
       display: flex;
       align-items: center;
       position: relative;

   }

   .per_box_x img{
       width: 45px;
       height: 45px;
       object-fit: cover;
       border-radius: 50%;
       margin-right: 10px;

   }

   

   .box_cha h3{
     font-size: 15px;
     font-weight: 500;
     color: rgb(94, 94, 94);
     margin-bottom: 0px;
   }

   .box_cha span{
       font-size: 13px;
       color: #a9b3bd;
   }

   .per_box_x h4{
       position: absolute;
       top: 4px;
       right: 10px;
       font-size: 11px;
       color: #b0b8c0;
       font-weight: 400;
   }

   .per_box_x{
       margin-bottom: 18px;
   }

   .chate_per_box_co{
       width: 100%;
       height: 85%;
       overflow-y: auto;
       padding: 15px 0px;
       padding-bottom: 100px;
   }

   
 .chate_per_box_co::-webkit-scrollbar{
    width: 6px;
}

.chate_per_box_co::-webkit-scrollbar-thumb{
    background: #DBE5ED!important;
    border-radius: 10px;
    margin-right: 5px;
}

.te_ox_detali{
    padding: 25px 14px;
}

.te_ox_detali h4{
    font-size: 18px;
    font-weight: 500;
    color: #444;
}

.per_box_x2 img{
  width: 55px;
  height: 55px;
}

.te_ox_detali h5{
    font-size: 14px;
    font-weight: 600;
    color: #6d6d6d;
}

.btx_btn_xd{
    width: 100%;
    background: #F9F9FE;
    border-radius: 6px;
    display: flex;
}

.btx_btn_xd button{
    width: 50%;
    border: none;
    padding: 8px 20px;
    font-size: 14px;
    background: transparent;
    font-weight: 400;
    color: #666;
}

.act_bxx_x{
    background: #f0f0f0 !important;
    border-radius: 6px;
}

.bper_x{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.bper_x span{
    font-size: 13px;
    margin-left: 8px;
    color:rgb(107, 107, 107);
    font-weight: 500;
   
}

.bper_x p{
    margin-bottom: 0px;
    width: 45%;
    font-size: 13px;
    color: rgb(107, 107, 107);
    font-weight: 500;
}

.b_tc_xf{
    margin: 15px 0px;
}

.box_hespsc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b_tc_xf{
    display: none;
}
.chate_per_box_co{
    display: none;
}

.proTabActiv1{
    display: block;
}

.box_tbo_e{
    width: 100%;
    padding: 8px;
    background: #f8fafc;
    border-radius: 8px;
}

.box_tbo_e h6{
    font-size: 14px;
    color:rgb(185, 185, 185);
    font-weight: 600;
}

.box_tbo_e span{
    font-size: 21px;
    font-weight: 600;
    color: #777;
    text-align: end;
    display: block;
   
}

.box_tbo_e img{
    width: 22px;
    height: 22px;
}

.box_bes_n{
    display: none;
}

.box_cat_c{
    display: flex;
    align-items: center;
}

.box_cat_c span{
    margin-right: 15px;
    font-size: 20px;
    color: #333333;
    display: none;
}
.btn_2px{
    display: none;
}
.btn_bx_3{
    display: none;
}


.box_chating_4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box_img_s img{
    width: 350px;
}

.box_br33{
    position: absolute;
    top: 15px;
    left: 20px;
    display: none;
}
.box_img_s h4{
    font-size:25px;
    font-weight: 500;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.boxdtsx{
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    height: 400px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.089);
    
    right: 0px;
    z-index: 1;
    background: #fff;
    overflow-y: hidden;
    padding-bottom: 40px !important;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.2s;
}

.actiba_search_br{
    top: 70px;
    opacity: 1;
    visibility: visible;
    z-index: 2;
}

 .boxdtsx .chate_per_box_co{
     padding-bottom: 20px;
     margin-bottom: 20px;
     height: 80%;
 }







 .box_chating_Sid{
     width: 100%;
     padding: 15px;
 }

 

 .heading_box_cha2{
    background: #ffffff !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }

 .box_chating_33 {
     margin-left: 25px !important;
     border: none;
     border-radius: 10px;

 }

 .b_tc_xf{
     background: #f8fafc ;
     padding: 15px 10px;
     border-radius: 8px;
 }



 .sides_vx{
     margin-right: 25px !important;
     margin-left: 0px !important;
 }



@media screen and (max-width : 991px){
    .box_chating_3{
       width: 20rem;
        position: absolute;
        top: 0;
        right: -50rem;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s all;
      
    
    }

    .btn_bx_3{
        display: inline-block;
    }
    .btn-caht span{
        display: none;
    }
    .btn-caht i{
        margin: 0px;
    }

    .box_bes_n{
        display: inline-block;
    }

    .actibar_2{
        position: absolute;
        top: 0;
        right: 0;
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    .des_left{
        padding-right: 20px !important ;
        z-index: 2223443454;
      
    }
    

}

@media screen and (max-width : 767px){

.box_chating_1{
    width: 400px !important;
    position: absolute;
    top: 0;
    left: -50rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all;
}
.box_cat_c span{
    display: inline-block;
}

.actibar_1{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.btn_2px{
    display: inline-block;
}
.box_br33{
   
    display: inline-block;
}
}


@media screen and (max-width : 500px){
    .box_chating_1{
        width: 100% !important;
    }
    .box_chating_3{
        width: 100% !important;
    }
}